@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
    --font-family: 'Open Sans', sans-serif;
    --background-color: #00A991;
}


/* Class CSS */

.button{
    background-color:var(--background-color);
}


.card{
    background-color: white;
    margin: 60px;
}

.form_booking{
 margin-left: 200px;
}

.info{
    color: #00A991;
    padding: 100px;
    text-align: center;
}
.label{
    color: #00A991;
    font-weight: bold;
    margin-bottom: 15px;
    z-index: 2;
}
.result_card{
    background-color:var(--background-color);
    color: white;
    margin: 100px;
    
}
.title{
    color: white;
    text-align: center;
}
.selectStyle{
    margin-right: 50px;
}
.show-container{
    background-color:var(--background-color);
    max-height: 400px;
    padding: 50px;

}
